<!--Show Page for individual contacts-->
<% include ../partials/header %>
<div class="container-fluid">
    <div class="row">
        
<!--Activity Side Bar-->
        <div class="col-lg-2 activity-sidebar cust-container">
            <div class="row">
                <div class="col-lg">
                    <h1>Activity</h1> 
                    <button type="button" class="btn btn-success work-contact" data-toggle="modal" data-target="#modal<%= contacts._id %>">Work Contact</button>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p>Type:   <strong><%=contacts.contactType%></strong></p>
                    <p> Status: <strong>Unquoted</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p>Strength:   <strong>HOT<%=contacts.contactStrength%></strong></p> 
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p>Next Scheduled Task: </p> 
                </div>
                <div class="col-lg-8">
                    <span><em>Follow Up, Phone Call 6/15/18@3:00pm</em></span>
                    <p><em>-Cory Evans</em></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p>Last Activity: </p> 
                </div>
                <div class="col-lg-8">
                    <span><em>Attempted Quote, Left Message 6/6/18@3:42pm</em></span>
                    <p><em>-Cory Evans</em></p>
                </div>
            </div>
            <hr>
        </div>
        
<!--Customer Information Container-->
        <div class="col-lg-8 customer-information cust-container">
            <div class="row">
                <div class="col-lg">
                    <h1>Customer Information</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>Customer Name: </strong><%=contacts.firstName%> <%=contacts.lastName%></p>
                </div>
                <div class="col-md-3">
                    <p><strong>Date Of Birth: </strong>09/14/1989</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>Phone Number: </strong><%=contacts.phone%></p>
                </div>
                <div class="col-md-3">
                    <p><strong>Email: </strong><%=contacts.email%></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <p><strong>Address: </strong></p>
                </div>
                <div class="col-sm-2">
                    <span><%=contacts.addressStreet%></span>
                    <p><%=contacts.addressCity%>, <%=contacts.addressState%>, <%=contacts.addressZip%></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p><a href="#"><span><i class="fas fa-plus"></i></span></a> Add Spouse</p>
                    <p><a href="#"><span><i class="fas fa-plus"></i></span></a> Add Additional Household Member</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h3>Opportunities</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="oppWheelsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Wheels</strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="oppWheelsDropdown">
                            <a class="dropdown-item" href="#">Auto</a>
                            <a class="dropdown-item" href="#">Motorcycle</a>
                            <a class="dropdown-item" href="#">Off Road Vehicle</a>
                            <a class="dropdown-item" href="#">Mobile Home (RV's)</a>
                      </div>
                    <p class="add-icon"><a href="#"><span><i class="fas fa-plus"></i></span></a> Add Another</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="oppWallsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Walls</strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="oppWallsDropdown">
                            <a class="dropdown-item" href="#">Home</a>
                            <a class="dropdown-item" href="#">Renters</a>
                            <a class="dropdown-item" href="#">Condo</a>
                            <a class="dropdown-item" href="#">Manufactored Home</a>
                            <a class="dropdown-item" href="#">Landlords</a>
                            <a class="dropdown-item" href="#">Boat</a>
                            <a class="dropdown-item" href="#">Personal Umbrella Policy</a>
                      </div>
                      <p class="add-icon"><a href="#"><span><i class="fas fa-plus"></i></span></a> Add Another</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="oppWallsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Wealth</strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="oppWallsDropdown">
                            <a class="dropdown-item" href="#">Life</a>
                      </div>
                      <p class="add-icon"><a href="#"><span><i class="fas fa-plus"></i></span></a> Add Another</p>
                    </div>
                </div>
                    <a class="btn btn-sm btn-warning" href="/contact/<%= contacts._id %>/edit?_method=PUT" method="POST">Edit</a>
                    <form action="/contact/<%= contacts._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
            </div>
        </div>
        
<!--Other Info Side Bar-->
        <div class="col-lg-2 otherinfo-sidebar cust-container">
            <div class="row">
                <div class="col-lg">
                    <h1>Other Info</h1>
                    <hr>
                    <p>Assigned To: <strong>Cory Evans</strong></p>
                    <p>Source:   <strong>Personal Contact</strong></p>
                    <p>Sub-Source:   <strong>Airsofting</strong></p>
                    <hr>
                    <p>Date Added:   <strong><%= contacts.created.toDateString() %></strong></p>
                    <p>First Quoted:   <strong>Unquoted</strong></p>
                    <p>Date Sold: <strong>Unsold</strong></p>
                    
                </div>
            </div>
        </div>
    </div>
    
<!--Comments Container-->
    <div class="row">
        <div class="col-lg-8 offset-lg-2 comment-block">
            <div class="row">
                <div class="col-lg">
                    <h1>Comments</h1>
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/contact/<%= contacts._id %>/comments" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" type="text" name ="comment[text]" placeholder="text"></textarea>
                                <button class="btn btn-sm btn-primary">Submit!</button>
                            </div>
                        </form>
                    </div>
                        <% contacts.comments.forEach(function(comment){ %>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><%= comment.text %></p>
                                            <span><em><%= comment.created.toDateString() %> <%= comment.created.toLocaleTimeString("en-US") %> - <%= comment.author.username %></em></span>
                                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                            <form id="delete-comment" action="/contact/<%= contacts._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                 <button class="btn btn-danger btn-sm" type="submit" value="Delete">x</i></button>
                                                </form>
                                            <% } %>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                    <% }) %>
            </div>
                </div>
            </div>
        </div>
    </div>                    
</div>


<% include ../pipeline/modal %>
<% include ../partials/footer %>

