<!--Show Page for individual contacts-->
<% include ../partials/header %>

    <div class="panel panel-default col-lg-3">
        <div class="panel-heading">
            <h1 class="panel-title">Activity</h1>
        </div>
        <div class="panel-body">
            <strong><p>Source:</strong> Rockford Home Show</p>
            <strong><p>Assigned to:</strong> Cory E.</p>
            <strong><p>Last Activity:</strong> Attempted Phone Call</p>
            <strong><p>Next Follow Up:</strong> June 6th, 2018 @ 3pm</p>
            <strong><p>Follow Up Details:</strong> Quote Appointment</p>
        </div>
    </div>
    
    <div class="panel panel-info col-lg-6">
        <div class="panel-heading">
            <h1 class="panel-title">Customer Information</h1>
        </div>
        <div class="panel-body">
            <div class="button-group pull-right">
                <a class="btn btn-xs btn-warning" href="/contact/<%= contacts._id %>/edit?_method=PUT" method="POST">Edit</a>
                <form id="delete-form" action="/contact/<%= contacts._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger"contacts>Delete</button>
            </div>
            <strong><p>Name: </strong><%=contacts.firstName%> <%=contacts.lastName%></p>
            <strong><p>Phone: </strong><%=contacts.phone%></p>
            <strong><p>Email: </strong><%=contacts.email%></p>
            <strong><p>Address: </strong></p> 
            <p><%=contacts.addressStreet%></p>
            <p><%=contacts.addressCity%>, <%=contacts.addressState%>, <%=contacts.addressZip%></p>
        </div>
        <div class="col-lg-2">
            <strong><p>Type: </strong><%=contacts.contactType%></p>
        </div>
    
    </div>

    
    
    <div class="panel panel-default col-lg-3">
        <div class="panel-heading">
            <h1 class="panel-title">Customer Information</h1>
        </div>
        <div class="panel-body">
            <p>Referral Fee Section Goes Here</p>
        </div>
    </div>

<% include ../partials/footer %>

